<div>    
    <div class="jumbotron">
        <div class="container">
            <h3>Mappe</h3>
            <select ng-change="change()" ng-model="selectedMap" class="form-control" ng-options="map.name for map in maps track by map.mapId">
                <option value="">Seleziona Mappa</option>
            </select>
            <button type="button" ng-click="new()" class="btn btn-default btn-sm">Nuova Mappa</button>
        </div>
    </div>

    <div class="jumbotron">
        <h3>Punti di interesse</h3>
        <div class="container">
            <form role="form" class="form-horizontal" ng-submit="submitData()">
                <div class="form-group">
                    <b>Dati GeoJSON</b>
                    <textarea rows="10" placeholder="Inserire i dati GeoJSON salvati da MapBox" ng-model="geoJSON" class="form-control" id="geoJSON" name="geoJSON" required></textarea>


                </div>
                
                 <div ng-show="show_resultok">
                    Inserito terminato correttamente
                </div>
                
                <div ng-show="show_resultko">
                    Si è verificato un errore durante l'inserimento                
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

