/*
====================LOGIN==============================
*/
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #3ca2e0;
    text-align: center;
    color: #fff;
    padding: 3em
}
.login-page h1 {
    font-weight: 300
}
.login-page h1 small {
    color: rgba(255, 255, 255, .7)
}
.login-page .form-group {
    padding: 8px 0
}
.login-page .form-content {
    padding: 40px 0
}

.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
    color: #FFF;
    border-radius: 0
}
.input-underline::-moz-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline::-ms-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none
}

/*
====================DASHBOARD==============================
*/

.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ecf0f1;
    color: #666
}

.dashboard .main .jumbotron{
    background: #FFF;
    margin-top: 20px

}

.dashboard .bg-fade {
    font-size: 500px;
    color: rgba(0, 0, 0, .1);
    position: absolute;
    right: -100px;
    top: 200px
}

.dashboard .brand {
    color: #FFF
}

#sidebar {
    position:absolute;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 51px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #3ca2e0;
}



#sidebar .nav {
    width: 18%;
}
#sidebar li {
    color: #fff;
}

#sidebar .nav>li>a:hover,
#sidebar .nav>li>a:focus {
    background: #2698dd
}

#sidebar .nav>li>a {
    color: #fff;
    padding-right: 150px;
    padding-left: 20px
}

@media screen and (min-width: 767px) {
    #sidebar {
        left:0px;
        bottom:0px;
    }

    #navbar {
        display:none;

    }
    
    .dashboard .main {
padding: 20px;
position: absolute;
top: 0;
right:0;        
bottom: 0;
overflow-x: auto;
overflow-y: auto
}
}

@media screen and (max-width: 767px) {
    
    .dashboard .main {
padding: 20px;
position: absolute;
top: 0;
right:0;
left:0;
overflow-x: auto;
overflow-y: auto
}
    
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -44.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }

    #sidebar {
        padding-top:51px;
        z-index: 10000;

    }

    #navbar {
        z-index:10;
        display:block;
        background-color: #3ca2e0;
    }
}

/*========================QRCODE==============================*/

.qrcode {
    width:490px;
    height:490px;
    margin-top:15px;
}


