/*
====================LOGIN==============================
*/
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #3ca2e0;
    text-align: center;
    color: #fff;
    padding: 3em
}
.login-page h1 {
    font-weight: 300
}
.login-page h1 small {
    color: rgba(255, 255, 255, .7)
}
.login-page .form-group {
    padding: 8px 0
}
.login-page .form-content {
    padding: 40px 0
}

.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
    color: #FFF;
    border-radius: 0
}
.input-underline::-moz-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline::-ms-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none
}

/*
====================DASHBOARD==============================
*/
/*.dashboard-page {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #ecf0f1;
color: #666
}
.dashboard-page .sub-header {
padding-bottom: 10px;
border-bottom: 1px solid #eee
}
.dashboard-page .navbar-fixed-top {
border: 0
}
.dashboard-page .sidebar {
display: none;
color: #FFF
}
.dashboard-page .sidebar .user-avatar {
margin: 10px 0
}
.dashboard-page .sidebar .brand {
padding-top: 15px
}
.dashboard-page .sidebar h2 {
font-weight: 300
}
.dashboard-page .sidebar h2 small {
color: rgba(255, 255, 255, .7)
}
@media (min-width: 768px) {
.dashboard-page .sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 0 20px 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #3ca2e0;
border-right: 1px solid #eee
}
}
.dashboard-page .nav>li>a:hover,
.dashboard-page .nav>li>a:focus {
background: #2698dd
}
.dashboard-page .nav-sidebar {
margin: 20px -21px 20px -20px
}
.dashboard-page .nav-sidebar>li>a {
color: #fff;
padding-right: 20px;
padding-left: 20px
}
.dashboard-page .nav-sidebar>.active>a,
.dashboard-page .nav-sidebar>.active>a:hover,
.dashboard-page .nav-sidebar>.active>a:focus {
color: #fff;
background-color: #2698dd
}
.dashboard-page .main {
padding: 20px;
position: absolute;
top: 0;
bottom: 0;
overflow-x: hidden;
overflow-y: auto
}
.dashboard-page .main .jumbotron {
background: #FFF;
margin-top: 20px
}
@media (min-width: 768px) {
.dashboard-page .main {
padding-right: 40px;
padding-left: 40px
}

#navbar {
display:none;

}

}
.dashboard-page .main .page-header {
margin-top: 0
}
.dashboard-page .placeholders {
margin-bottom: 30px;
text-align: center
}
.dashboard-page .placeholders h4 {
margin-bottom: 0
}
.dashboard-page .placeholder {
margin-bottom: 20px
}
.dashboard-page .placeholder img {
display: inline-block;
border-radius: 50%
}
.dashboard-page .bg-fade {
font-size: 500px;
color: rgba(0, 0, 0, .1);
position: absolute;
right: -100px;
top: 200px
}*/


.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ecf0f1;
    color: #666
}

.dashboard .main .jumbotron{
    background: #FFF;
    margin-top: 20px

}

.dashboard .bg-fade {
    font-size: 500px;
    color: rgba(0, 0, 0, .1);
    position: absolute;
    right: -100px;
    top: 200px
}

.dashboard .brand {
    color: #FFF
}

#sidebar {
    position:absolute;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 51px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #3ca2e0;
}



#sidebar .nav {
    width: 18%;
}
#sidebar li {
    color: #fff;
}

#sidebar .nav>li>a:hover,
#sidebar .nav>li>a:focus {
    background: #2698dd
}

#sidebar .nav>li>a {
    color: #fff;
    padding-right: 150px;
    padding-left: 20px
}

@media screen and (min-width: 767px) {
    #sidebar {
        left:0px;
        bottom:0px;
    }

    #navbar {
        display:none;

    }
    
    .dashboard .main {
padding: 20px;
position: absolute;
top: 0;
right:0;        
bottom: 0;
overflow-x: auto;
overflow-y: auto
}
}

@media screen and (max-width: 767px) {
    
    .dashboard .main {
padding: 20px;
position: absolute;
top: 0;
right:0;
left:0;
overflow-x: auto;
overflow-y: auto
}
    
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -44.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }

    #sidebar {
        padding-top:51px;
        z-index: 10000;

    }

    #navbar {
        z-index:10;
        display:block;
        background-color: #3ca2e0;
    }
}

